.hojaCriptos_01{
    display: flex;
    justify-content: center;
    align-content: center;
}
.hojaCriptos_01>h2{
    padding: 30px;
    font-size: 30px;
}
.container{
width: 1200px;
    margin: auto;
}
.container_01{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(270px, 1fr));
    gap: 10px;
}